.find {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.findedContent {
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.card__image {
    width: 700px;
}

.cardActions {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.card {
    display: flex;
}

.clearButton {
    margin-left: 16px!important;
}

@media screen and (max-width: 1024px) {
    .form {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .resultsTitle {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: block;
    }

    .card__image {
        width: 100%;
        height: 200px;
        max-height: unset;
        margin: auto;
    }

    .findedContent {
        display: flex;
        flex-wrap: wrap;
    }
    .cardActions {
        width: auto;
        padding: 0 10px 20px!important;
    }
    .clearButton {
        margin-left: unset!important;
    }
}