@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  max-width: 1340px;
  margin: 0 auto;
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}

.book {
  width: 850px;
  margin: auto;
}

.form {
  display: flex;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item label {
  margin-bottom: 5px;
  font-style: normal;
  color: black;
}

.react-datepicker__input-container input {
  width: 150px;
}

input[type="date" i] {
  font-family: 'Roboto';
}

@media screen and (max-width: 1366px) {
  body {
    max-width: 768px;
  }
}

.react-datepicker__input-container input,
select,
input {
  padding: 0 20px;
  height: 40px;
  border: 1px solid #c4c5c5;
  border-radius: 15px;
  background-color: transparent;
  width: 260px;
  box-sizing: border-box;
  transition: border 0.3s ease;
  cursor: pointer;
  outline: none;
}

.react-datepicker__input-container input:focus,
.react-datepicker__input-container input:hover,
select:hover,
select:hover,
input:hover,
input:hover {
  border: 1px solid #1796d0;
  outline: none;
}

.button {
  width: 260px;
  height: 40px;
  border-radius: 25px;
  border: unset;
  background: #1796d0;
  color: white;
  transition: all .2s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2)
}

.button:active {
  background: #1786d0;
}

.button-grey {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  margin: 20px auto;
}

.button-grey:active {
  background: rgba(0, 0, 0, 0.3);
}

.swiper {
  width: 100%;
}

.customNumberLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  cursor: text;
  transition: all 0.1s ease;
  z-index: -1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.customNumberLabelFocus {
  top: 0;
  width: auto;
  font-size: 13px;
  line-height: 15px;
  color: #8d8d8d;
  z-index: 1;
  background: #fff;
  padding: 0 5px;
}

.react-datepicker {
  border: 1px solid #1796d0 !important;
  border-radius: 15px !important;
  font-family: 'Roboto' !important;
  font-size: 18px !important;
}

.react-datepicker__header {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.react-datepicker__month-container {
  width: 300px;
}

.react-datepicker__day-name {
  font-weight: 700;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 18px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 35px !important;
  margin: 3px !important;
  font-size: 18px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 5px !important;
}

.imgModal {
  background: transparent !important;
  box-shadow: unset !important;
  max-width: initial !important;
  width: auto !important;
}

.input__full {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .imgModal {
    width: 100% !important;
  }
  .button {
    width: 100%;
  }
  .react-datepicker__input-container input, input, select {
    width: 100%;
  }

  .form__item {
    width: 100%;
  }
}