html {
  font-size: 18px;
}

.swiper {
  width: 100%;
}

.imgModal {
  background: transparent !important;
  box-shadow: unset !important;
  max-width: initial !important;
  width: auto !important;
}


@media screen and (max-width: 768px) {
  .imgModal {
    width: 100% !important;
  }
  .button {
    width: 100%;
  }
  .react-datepicker__input-container input, input, select {
    width: 100%;
  }

  .form__item {
    width: 100%;
  }
}